* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}
.btn {
  padding: 9px 19px;
  max-width: 130px;
  border-radius: 35px;
  margin: 19px 0;
}
.btn:hover {
  cursor: pointer;
  transition: all 0.7s;
}
.btn-top:hover {
  color: white;
  background-color: #4692c1;
  border: 2px solid #4692c1;
}
.btn-top span {
  margin-right: 9px;
}
.btn-top {
  background-color: rgba(100, 185, 227, 0.837);
  border: 2px solid rgba(0, 170, 255, 0.837);
}
/* nav */
nav {
  background-color: aquamarine;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
}
nav .container,
nav .container .menu {
  display: flex;
  justify-content: space-between;
}
nav .container .menu .left ul {
  display: flex;
  font-size: 22px;
  font-weight: 400;
}
nav .container .menu .left ul li {
  list-style: none;
}
nav .container .menu .left ul a {
  text-decoration: none;
  padding: 0 14px;
}
nav .container .menu .left ul a:hover {
  text-decoration: underline;
}
nav .container .right {
  color: white;
  display: flex;
  flex-direction: row;
}
/* nav */

/* Hero */
.hero {
  display: flex;
  padding: 14px 9px;
  min-height: 100vh;
}
.left-box {
  display: flex;
  align-items: center;
  text-align: left;
}
.hero .left-box h2 {
  font-size: 48px;
  padding: 0 0 9px;
}
.right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  min-width: 320px;
}
.right-box-img {
  position: relative;
  width: 100%;
}
.right-box .camera-bg {
  z-index: -1;
  position: absolute;
  width: 100%;
}
.right-box .camera-img {
  width: 100%;
}

/* Hero */

/* Company Logo */
.company-logo {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 14px 9px;
}
/* Company Logo */

/* Collection */
.collection .title {
  font-size: 28px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}
.collection .container {
  padding: 20px 0;
  position: relative;
  padding-bottom: 80px;
}
.collection-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection .article {
  background-color: #d7e3ea;
  padding: 9px;
  border-radius: 9px;
}
.collection .article img {
  width: 100%;
}
.collection .article .details h2 {
  padding: 9px 0;
}
.collection .article .details .price {
  font-size: 28px;
  font-weight: 500;
}
.collection .article .details .rating {
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 13, 255, 0.837);
}
.collection .article .details p {
  font-size: 18px;
  font-weight: 400;
  padding-top: 2px;
}
.collection .btn-see_more {
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 20px 0;
}
.collection .btn-see_more:hover {
  text-decoration: underline;
}
/* Collection */

/* Footer */
footer {
  background-color: #4692c1;
  padding: 40px;
  text-align: center;
}
footer h2 {
  font-size: 38px;
  font-weight: 700;
  padding: 9px 0;
}
footer p {
  font-size: 18px;
  font-weight: 400;
}
footer .link {
  margin-top: 9px;
  font-size: 28px;
}
footer .link i {
  padding: 9px;
}
footer .link i:hover {
  color: wheat;
  cursor: pointer;
}
/* Footer */

/* Media query */
@media (min-width: 300px) {
  nav .container .logo {
    text-align: center;
    width: 100%;
  }
  nav .container .menu {
    display: none;
  }
  .left-box {
    text-align: center;
  }
  .hero {
    text-align: center;
    flex-direction: column;
  }
  .btn {
    margin: 10px auto;
  }
  .collection-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  nav .container .logo {
    text-align: left;
    width: auto;
  }
  nav .container .menu {
    display: flex;
  }
  nav .container .menu .right {
    display: none;
  }
  .collection-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  nav .container .menu .right {
    display: block;
  }
  .hero {
    flex-direction: row;
  }
  .left-box {
    text-align: left;
  }
  .btn {
    margin: 10px 0;
  }
  .collection-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Media query */
